@charset "utf-8";
/* CSS Document */


body,li,ul{ margin:0px; padding:0px;}
a{ text-decoration:none; color:#B2B3B8;}
a:hover{text-decoration:none; cursor:pointer; color:#FFF;}

#menu{width:100%; height:73px; background:#3A3A44; /*border:1px solid #F00;*/}
.top-logo{width:82px; height:73px; background:url(../imgs/women-logo.png) no-repeat 0px -2px; /*border:1px solid #F00;*/ margin-left:200px; float:left;}
.daohang{width:500px; height:40px; /*border:1px solid #F00;*/  margin-left:60px; float:left; margin-top:16px;}
.daohang ul li a{text-decoration:none; list-style:none;}
.daohang li{color:#B2B3B8; font-size:16px; letter-spacing:2px; line-height:40px; display:block; float:left; margin-right:30px; /*border:1px solid #F00;*/}
.daohang li:hover{text-decoration:none; cursor:pointer; color:#FFF;}

.search{width:174px; height:28px; /*border:1px solid #F00;*/ float:left; margin-left:50px; margin-top:25px; padding:0px;}
.search-pic{width:27px; height:24px; /*border:1px solid #F00;*/ background:url(../imgs/search.jpg) no-repeat; float:right; padding:0px; position:relative; bottom:25px;}

.top-right{width:160px; height:30px; /*border:1px solid #F00;*/ float:right; margin-right:20px; margin-top:24px;}
.zi ul li a{text-decoration:none; list-style:none;}
.zi li{color:#B2B3B8; font-size:16px; letter-spacing:2px; line-height:30px; display:block; float:left; margin-right:30px; /*border:1px solid #F00;*/}
.zi li:hover{text-decoration:none; cursor:pointer; color:#FFF;}



















